/* .ant-table-pagination.ant-pagination {
  display: none !important;
} */
.input22 {
  display: flex;
  justify-content: left;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
}

.modalimg22 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.likemodel22 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
}
.likemo22 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.textmo22 {
  margin-left: 0.5rem;
  margin-top: 0.9rem;
}
