/* .ant-table-pagination.ant-pagination {
  display: none !important;
} */
.modalimg33 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.likemodel33 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
}
.likemo33 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.textmo33 {
  margin-left: 0.5rem;
  margin-top: 0.9rem;
}
.imgpost {
  width: 9rem;
  height: 9.5rem;
}
.divdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.detext {
  text-align: center;
}
.price-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.create-button{
  background-color: #CEFAD0;
  border: #6d716d solid 1px;
  width: 10rem;
  padding: .5rem;
  border-radius: 5rem;
  
}
.edit{
  background-color: #CEFAD0;
  border: #6d716d solid 1px;
  width: 3rem;
  padding: .2rem;
  border-radius: 5rem;
}
.div-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.input-updatess {
  width: 20rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}